<strong>Password Recovery</strong>

<p>
  A Password Recovery request has been done for ({{ email }}). If you didn't do
  it, it's suggested to change your password.
</p>

<p>
  To proceed you Password Recovery, use your token: {{ token }} or click in the
  link below:
</p>

<a href="{{ link }}">Revory password</a>
